@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderGlow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}

.animate-borderGlow {
  animation: borderGlow 1.5s infinite alternate;
}
